<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @box_owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @box_owner.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @box_owner.email %>
</p>

<p>
  <strong>Box:</strong>
  <%= @box_owner.box %>
</p>

<%= link_to 'Edit', edit_box_owner_path(@box_owner) %> |
<%= link_to 'Back', box_owners_path %>
