<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>The Box Factory</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- TODO: Should move the inline CSS to a css file -->
    <style type="text/css">
    .nav {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
    }
    </style>
  </head>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
